version: 2
module_version: "2.0.0"

tests:
  - name: Test infrastructure creation
    runner_image: public.ecr.aws/spacelift/runner-terraform:gcp-latest
    project_root: "examples/simple"
    environment:
      TF_VAR_region: europe-west3
      TF_VAR_project: self-hosted-v3-testing
